<mat-progress-bar
	mode="indeterminate"
	style="margin-bottom: 8px; opacity: {{history.done ? 0: 1}}"
></mat-progress-bar>

<div style="margin: 0 8px">
	<h1
		*ngIf="history.history.length"
	>
		{{history.actions.length}} Transactions fetched until
		{{formatDate(history.history[history.history.length - 1].date)}}
	</h1>
	<canvas id="performance"></canvas>


	<div class="tokens" style="border-bottom: solid white 1px">
		<div>Name</div>
		<div style="text-align: right">Amount</div>
		<div style="text-align: right">Value</div>
	</div>
	<div *ngFor="let token of lastTokenValues" [style.order]="token.value * 1000" class="tokens">
		<div>{{token.name}}</div>
		<div style="text-align: right">{{token.amount.toFixed(3)}}</div>
		<div style="text-align: right">{{token.value.toFixed(3) + ' WAX'}}</div>
	</div>
</div>

<button (click)="download()" [disabled]="!history.done" mat-button>
	<mat-icon>download</mat-icon>
	CSV
</button>
