<div class="app">
	<div>

		<mat-toolbar style="position: fixed;" >

			<ng-container *ngIf="wax.account">

				<a mat-button [routerLink]="wax.account.account_name">Overview</a>
				<a mat-button [routerLink]="wax.account.account_name + '/history'">History</a>
				<div fxFlex></div>
				{{wax.account.account_name}}
			</ng-container>

			<ng-container *ngIf="!wax.account">
				<mat-form-field fxFlex style="font-size: 14px" *ngIf="!wax.account">
					<mat-label>Address</mat-label>
					<input matInput [(ngModel)]="account" (keydown.enter)="search()">
					<button *ngIf="account" matSuffix mat-icon-button aria-label="Clear" (click)="account=''">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
				<button mat-icon-button (click)="search()">
					<mat-icon>search</mat-icon>
				</button>
			</ng-container>

		</mat-toolbar>


	</div>

	<div style="margin: 64px 0">
		<router-outlet *ngIf="wax.account"></router-outlet>
	</div>

</div>

