<div class="app">
	<div>

		<mat-toolbar style="position: fixed;">

			<ng-container *ngIf="wax.account">

				<a [routerLink]="wax.account.account_name" mat-button>Overview</a>
				<!--				<a mat-button [routerLink]="wax.account.account_name + '/history'">History</a>-->
				<div fxFlex></div>
				{{wax.account.account_name}}
			</ng-container>

			<ng-container *ngIf="!wax.account">
				<mat-form-field *ngIf="!wax.account" fxFlex style="font-size: 14px">
					<mat-label>Address</mat-label>
					<input (keydown.enter)="search()" [(ngModel)]="account" matInput>
					<button (click)="account=''" *ngIf="account" aria-label="Clear" mat-icon-button matSuffix>
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
				<button (click)="search()" mat-icon-button>
					<mat-icon>search</mat-icon>
				</button>
			</ng-container>

		</mat-toolbar>


	</div>

	<div style="margin: 64px 0">
		<router-outlet *ngIf="wax.account"></router-outlet>
	</div>

</div>

